<h1><%= @categories.name %></h1>

<ul>
  <% @categories.songs.each do |song| %>
  <li><%= link_to song.name, song %></li>
      <% end %>
</ul>

<p><%= link_to "Back to Song Categories", categories_path %></p>
